.input-box {
    padding: 0.25em 0.2em;
    border-radius: 4px;
    border: none;
    margin-right: 8px;
}

.input-box:focus {
    box-shadow: 0px 0px 18px 4px rgb(214, 245, 167);
}

.input-submit {
    padding: 0.25em 0.5em;
    border-radius: 4px;
    border: none;
    margin-left: 1px;
    cursor: pointer;
}

.input-submit:hover {
    box-shadow: 0px 0px 18px 4px rgb(214, 245, 167);
}

.todos {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    flex-wrap: wrap;
}

.todos-single {
    display: flex;
    justify-content: space-between;
    min-width: 18rem;
    padding: 0.175em;
    margin-top: 1.5em;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(214, 245, 167);
    border-radius: 4px;
}

.edit-icon {
    color: rgb(214, 245, 167);
}

.delete-icon {
    color: rgb(253, 57, 57);
}

.icon {
    margin: 5px;
    cursor: pointer;
}
